body { margin: 0 auto; width: 100%; overflow: hidden; padding-top: 30px; background: #C9C7BB; color: #555; font-family: Tahoma, Arial, sans-serif; font-size: 14px; min-height: 200px; }
img.under { max-width: 100%; height: auto; }
